Repository thijsputman/home-assistant-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint, yamllint-other, notebook-cells

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        # s6-overlay's scripts shouldn't be executable
        exclude: |
          (?x)(
            rootfs/etc/(
              cont-init\.d|
              services\.d|
              s6-overlay/s6-rc\.d
            )
          )
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (\.nnb|^\.HA_VERSION)$
      - id: forbid-submodules
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx --yes prettier@3.0.2 --check --ignore-unknown
        language: system
        types: [text]
      - id: markdownlint
        name: markdownlint
        entry: npx --yes markdownlint-cli@0.35.0
        language: system
        types: [file]
        files: (?i)(\.md|(^|/)(TODO|NOTES))$
      # Home Assistant YAML-files (using ".yamllint.yaml")
      - id: yamllint
        name: yamllint (Home Assistant)
        entry: yamllint
        language: system
        types: [yaml]
      # Other YAML-files (hardcoded "default"-configuration)
      - id: yamllint-other
        name: yamllint (other)
        # prettier-ignore
        entry:
          "yamllint -d \"{extends: default, \
            rules: {\
              document-start: disable,\
              quoted-strings: {\
                required: only-when-needed\
              }\
            }\
          }\""
        language: system
        types: [yaml]
        # Matches "dotfiles" and "dotfolders" (ie, generic configuration files)
        files: (?i)^\..*ya?ml$
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck --wiki-link-count=0
        language: system
        types: [shell]
      - id: shfmt
        name: shfmt
        entry: shfmt -l -d
        language: system
        types: [shell]
      - id: hadolint
        name: hadolint
        entry: hadolint
        language: system
        types: [dockerfile]
      - id: notebook-cells
        name: check notebooks for cell-data
        entry: .github/scripts/check-notebook-cells.sh
        language: script
        types: [file]
        files: (?i)\.(ipynb|nnb)$

Minor tweaks
  .github/scripts/setup-pre-commit.sh
  README.md
  automations/weather/rain.yaml
  templates/hue_scenes.yaml
Due: markdownlint, yamllint

Remove duplicate version pins
  .github/scripts/setup-pre-commit.sh
  .github/workflows/linter.yml
  README.md
Due: markdownlint, yamllint, yamllint-other

On missing payload, report sensor as "Unknown"
  extras/sysmon-mqtt/sysmon.sh
Due: none

Expose round-trip times to sysmon-mqtt container
  extras/sysmon-mqtt/rootfs/usr/local/bin/sysmon
Due: none

Make CPU temperature reporting optional
  extras/sysmon-mqtt/sysmon.sh
Due: none

Update sysmon-mqtt README and install-script
  extras/sysmon-mqtt/README.md
  extras/sysmon-mqtt/install.sh
Due: markdownlint

Minor tweaks
  .github/workflows/linter.yml
  lovelace/home/chores/devices.yaml
Due: yamllint, yamllint-other

Hue scene heuristic tweaks
  automations/lights/kitchen.yaml
  automations/lights/motion.yaml
  recorder_exclude.yaml
  scripts/hue.yaml
  templates/hue_scenes.yaml
Due: yamllint

Add two additional smoke detectors
  automations/calamities/smoke.yaml
  lovelace/home/security/calamities.yaml
  sensors_binary/smoke.yaml
Due: yamllint

Minor tweaks
  automations/lights/vocolinc.yaml
  automations/system/system.yaml
  extras/dd-wrt/jffs/usr/local/bin/ping2mqtt.sh
  templates/system.yaml
Due: yamllint

Use Hue scenes instead of custom settings
  automations/lights/bathroom.yaml
  automations/lights/motion.yaml
Due: yamllint

Tweaks to the Hue scene heuristic
  automations/lights/dawn.yaml
  automations/lights/daytime.yaml
  automations/lights/hue.yaml
  templates/hue_scenes.yaml
Due: yamllint

Split Ensuite off from Living Room
  automations/lights/hue.yaml
  lights.yaml
  lovelace/home.yaml
  lovelace/home/lights/hue_scenes.yaml
  lovelace/home/lights/rooms.yaml
  templates/hue_scenes.yaml
Due: yamllint

Add open/close-sensor to the Shed door
  automations/alarm/trigger.yaml
  groups/openclose.yaml
  lovelace/home/security/open_close.yaml
Due: yamllint

Minor tweaks
  .github/workflows/linter.yml
  configuration.yaml
  lovelace/README.md
Due: markdownlint, yamllint, yamllint-other

Further Ensuite lighting tweaks
  automations/lights/dawn.yaml
  automations/lights/daytime.yaml
  automations/lights/dusk.yaml
  automations/lights/shield_tv.yaml
  templates/hue_scenes.yaml
Due: yamllint

Fix the sysmon-mqtt install-script
  extras/sysmon-mqtt/install.sh
Due: none

Keep finding outdated Ensuite automations 🤐
  TODO
  automations/lights/ensuite.yaml
  automations/lights/hue.yaml
Due: markdownlint, yamllint

Notify if the "TTS announce"-script takes too long
  automations/system/system.yaml
Due: yamllint

Correct oversight in calendar TTS announcement
  automations/voice/morning.yaml
Due: yamllint

Various lighting-related fixes and tweaks
  automations/alarm/welcome.yaml
  automations/lights/dusk.yaml
  automations/lights/occupancy_simulation.yaml
  automations/lights/shield_tv.yaml
  templates/hue_scenes.yaml
Due: yamllint

Don't block irrigation in case of empty battery
  scripts/irrigation.yaml
Due: yamllint

Minor tweaks
  .markdownlint.json
  automations/chores/laundry.yaml
  automations/system/system.yaml
  extras/influxdb/README.md
  logger_filters.yaml
Due: markdownlint, yamllint

Refactor the ha_discover function
  extras/sysmon-mqtt/sysmon.sh
Due: none

Two additional metrics/sensors for sysmon-mqtt
  extras/sysmon-mqtt/Dockerfile
  extras/sysmon-mqtt/README.md
  extras/sysmon-mqtt/sysmon.sh
Due: markdownlint

Minor fixes to sysmon-mqtt Docker container
  extras/sysmon-mqtt/Dockerfile
  extras/sysmon-mqtt/README.md
Due: markdownlint

Add an additional water (leak) sensor
  automations/calamities/leak.yaml
  lovelace/home/security/calamities.yaml
  sensors_binary/water.yaml
Due: yamllint

Account for new Shed door sensor
  automations/lights/doors.yaml
  automations/lights/dusk.yaml
Due: yamllint

Correct "Lights out" / "wakeup alarm" interference
  automations/lights/bedroom.yaml
  automations/sleep/wakeup_time.yaml
Due: yamllint

Minor tweaks
  automations/lights/shield_tv.yaml
  automations/system/system.yaml
  scripts/irrigation.yaml
  templates/hue_scenes.yaml
Due: yamllint

Include systemd reported status in overviews
  groups/sbc.yaml
  lovelace/home.yaml
  lovelace/home/network/ha_yellow.yaml
  lovelace/home/network/pi4.yaml
  lovelace/home/network/pihole.yaml
  lovelace/home/network/sbc/status.yaml
  templates/system.yaml
Due: yamllint

Correct a devious typo...
  extras/sysmon-mqtt/sysmon.sh
Due: none

Upgrade to Home Assistant 2023.10
  .HA_VERSION
  configuration.yaml
  custom_components/README.md
  lovelace/README.md
  lovelace/home/security/aarlo_back.yaml
  lovelace/home/security/aarlo_front.yaml
Due: markdownlint, yamllint

Replace Buienradar with Tomorrow.io
  automations/voice/morning.yaml
  lovelace/home/weather/forecast.yaml
  templates/weather.yaml
Due: yamllint

Correct Living Room Sonair CO₂ behaviour
  automations/climate/co2.yaml
Due: yamllint

Add Shed smoke detector to automations
  automations/alarm/arm_disarm.yaml
  automations/calamities/smoke.yaml
  automations/lights/bedroom.yaml
  sensors_binary/smoke.yaml
Due: yamllint

Minor tweaks
  automations/system/system.yaml
  extras/deconz/README.md
  lovelace/home/network/wifi.yaml
  lovelace/home/weather/rain.yaml
Due: markdownlint, yamllint

Minor pre-commit tweaks
  .editorconfig
  .pre-commit-config.yaml
Due: yamllint, yamllint-other

Tweak irrigation script and dashboard
  lovelace/home/chores/irrigation.yaml
  scripts/irrigation.yaml
Due: yamllint

Fix Wardrobe and Bathroom nighttime lighting
  automations/lights/bathroom.yaml
  automations/lights/motion.yaml
Due: yamllint
