Repository thijsputman/home-assistant-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint, yamllint-other, notebook-cells

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        # s6-overlay's scripts shouldn't be executable
        exclude: |
          (?x)(
            rootfs/etc/(
              cont-init\.d|
              services\.d|
              s6-overlay/s6-rc\.d
            )
          )
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (\.nnb|^\.HA_VERSION)$
      - id: forbid-submodules
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx --yes prettier@3.0.2 --check --ignore-unknown
        language: system
        types: [text]
      - id: markdownlint
        name: markdownlint
        entry: npx --yes markdownlint-cli@0.35.0
        language: system
        types: [file]
        files: (?i)(\.md|(^|/)(TODO|NOTES))$
      # Home Assistant YAML-files (using ".yamllint.yaml")
      - id: yamllint
        name: yamllint (Home Assistant)
        entry: yamllint
        language: system
        types: [yaml]
      # Other YAML-files (hardcoded "default"-configuration)
      - id: yamllint-other
        name: yamllint (other)
        # prettier-ignore
        entry:
          "yamllint -d \"{extends: default, \
            rules: {\
              document-start: disable,\
              quoted-strings: {\
                required: only-when-needed\
              }\
            }\
          }\""
        language: system
        types: [yaml]
        # Matches "dotfiles" and "dotfolders" (ie, generic configuration files)
        files: (?i)^\..*ya?ml$
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck --wiki-link-count=0
        language: system
        types: [shell]
      - id: shfmt
        name: shfmt
        entry: shfmt -l -d
        language: system
        types: [shell]
      - id: hadolint
        name: hadolint
        entry: hadolint
        language: system
        types: [dockerfile]
      - id: notebook-cells
        name: check notebooks for cell-data
        entry: .github/scripts/check-notebook-cells.sh
        language: script
        types: [file]
        files: (?i)\.(ipynb|nnb)$

Improve "Google DNS (ping)" binary sensor
  templates/network.yaml
Due: yamllint

Support Prusa MINI+ input-shaper filename patterns
  templates/prusa.yaml
Due: yamllint

Add Guest WiFi QR code to dashboard
  .gitignore
  lovelace/home.yaml
Due: yamllint

Minor tweaks
  extras/influxdb/README.md
  lovelace/home/climate/thermostat_new.yaml
Due: markdownlint, yamllint

Split off sysmon-mqtt into its own repository
  .github/workflows/docker-sysmon-mqtt.yml
  .gitignore
  README.md
  extras/README.md
  extras/sysmon-mqtt/.dockerignore
  extras/sysmon-mqtt/Dockerfile
  extras/sysmon-mqtt/README.md
  extras/sysmon-mqtt/install.sh
  extras/sysmon-mqtt/rootfs/usr/local/bin/sysmon
  extras/sysmon-mqtt/sysmon.sh
  www/sysmon-mqtt/armbian.png
  www/sysmon-mqtt/debian.png
  www/sysmon-mqtt/raspbian.png
  www/sysmon-mqtt/ubuntu.png
Due: markdownlint, yamllint, yamllint-other

Add a speaker in the Guestroom
  lovelace/home.yaml
  scripts/announce.yaml
Due: yamllint

Remove WaterRower RESTful-command
  automations/waterrower.yaml
  configuration.yaml
Due: yamllint

Minor tweaks
  automations/chores/laundry.yaml
  extras/LICENSE
  extras/esphome/m5stack-atom-lite.yaml
Due: yamllint

Upgrade to Home Assistant 2024.3
  .HA_VERSION
  configuration.yaml
  custom_components/README.md
  lovelace/README.md
  lovelace/home/security/aarlo_back.yaml
  lovelace/home/security/aarlo_front.yaml
Due: markdownlint, yamllint

Remove gap between "composed" vertical-stacks
  lovelace/home/air_quality/bathroom_fan.yaml
  lovelace/home/air_quality/fans.yaml
  lovelace/home/air_quality/pm.yaml
  lovelace/home/chores/irrigation.yaml
  lovelace/home/climate/temperature.yaml
  lovelace/home/network/bandwidth_ping.yaml
  lovelace/home/network/pihole.yaml
  lovelace/home/security/aarlo_back.yaml
  lovelace/home/weather/humidity_pressure.yaml
  lovelace/home/weather/rain.yaml
  lovelace/home/weather/sun.yaml
  lovelace/home/weather/temperature.yaml
  lovelace/home/weather/wind.yaml
Due: yamllint

Further whitespace removal in notifications
  scripts/notifications.yaml
Due: yamllint

Use Alarm Control Panel "armed_vacation"
  automations/alarm/aarlo.yaml
  automations/alarm/arm_disarm.yaml
  automations/alarm/notify_away.yaml
  automations/alarm/notify_lights.yaml
  automations/alarm/trigger.yaml
  automations/alarm/trigger_away.yaml
  automations/alarm/vacation.yaml
  automations/alarm/welcome.yaml
  automations/chores/afvalwijzer.yaml
  automations/chores/neato.yaml
  automations/climate/close_in_boiler.yaml
  automations/system/system.yaml
  automations/voice/welcome.yaml
  extras/influxdb/README.md
  influx_db.yaml
  input/boolean/alarm.yaml
  templates/alarm.yaml
Due: markdownlint, yamllint

Implement "Auto-arm when away"
  automations/alarm/arm_disarm.yaml
  automations/alarm/notify_away.yaml
  input/boolean/alarm.yaml
  lovelace/home.yaml
  lovelace/home/security/alarm.yaml
  lovelace/home/security/alarm_panel.yaml
Due: yamllint

Replace "group.family" with Home Alarm state
  automations/alarm/test.yaml
  automations/calamities/leak.yaml
  automations/calamities/pm.yaml
  automations/calamities/smoke.yaml
  automations/calamities/watermeter.yaml
  automations/christmas.yaml
  automations/climate/close_in_boiler.yaml
  automations/climate/vocolinc.yaml
  automations/lights/fireplace.yaml
  automations/lights/occupancy_simulation.yaml
  automations/occupancy.yaml
  automations/system/system.yaml
  automations/tablet.yaml
  automations/voice/dong.yaml
  automations/voice/security.yaml
  scripts/announce.yaml
Due: yamllint

Replace RPi Zero with MPi MQ1
  automations/system/system.yaml
  lovelace/home.yaml
  scripts/announce.yaml
Due: yamllint

Replace "simple-thermostat" with Tile card
  lovelace/README.md
  lovelace/home.yaml
  lovelace/home/climate/thermostat.yaml
  lovelace/home/climate/thermostat_new.yaml
Due: markdownlint, yamllint

Workaround a deCONZ issue introduced in 2024.3
  automations/system/system.yaml
Due: yamllint

Stop the Energy-dashboard from complaining
  input/number/rates.yaml
Due: yamllint

Replace DD-WRT SNMP with sysmon-mqtt
  extras/influxdb/README.md
  influx_db.yaml
  lovelace/home/network/bandwidth_ping.yaml
  lovelace/home/network/routers_dns.yaml
  recorder_exclude.yaml
  sensors/dd-wrt.yaml
  templates/dd-wrt.yaml
Due: markdownlint, yamllint

Fix the "Welcome Home!"-message (finally 🎉)
  automations/voice/welcome.yaml
Due: yamllint

Use Bluetooth for Qinping Air Monitor Lite
  lovelace/home/air_quality/co2.yaml
  lovelace/home/air_quality/pm.yaml
Due: yamllint

Add proximity data to occupancy dashboard
  lovelace/home/security/occupancy.yaml
Due: yamllint

Minor tweaks
  extras/influxdb/README.md
  influx_db.yaml
  lovelace/home/network/wifi.yaml
  scripts/announce.yaml
Due: markdownlint, yamllint

Missed a handful of affected automations
  automations/system/system.yaml
Due: yamllint

Upgrade to Home Assistant 2024.3.1
  .HA_VERSION
Due: none

Upgrade a handful of custom JavaScript modules
  configuration.yaml
  lovelace/README.md
Due: markdownlint, yamllint

Update TODO
  TODO
Due: markdownlint

First Withings Sleep Analyzer automation 🎉
  automations/voice/dong.yaml
  automations/voice/security.yaml
  groups/speakers.yaml
  scripts/announce.yaml
  sensors_binary/occupancy.yaml
Due: yamllint

Tweak wakeup light automation
  automations/sleep/wakeup_light.yaml
Due: yamllint

Minor tweak
  lovelace/home/security/occupancy.yaml
Due: yamllint

Use bed occupancy to control electric blanket
  automations/climate/electric_blanket.yaml
Due: yamllint

Trigger "All lights off" based on bed occupancy
  automations/sleep/occupancy_bed.yaml
Due: yamllint

Trigger thermostat based on proximity to home
  automations/climate/thermostat.yaml
Due: yamllint

Minor tweaks
  automations/lights/dusk.yaml
  lovelace/README.md
Due: markdownlint, yamllint

Some further bed occupancy gold-plating
  automations/climate/electric_blanket.yaml
  automations/lights/bedroom.yaml
  automations/lights/hallway.yaml
  automations/lights/motion.yaml
Due: yamllint

Fix "Goodnight"-announcements trigger
  automations/voice/night.yaml
Due: yamllint

Minor tweaks
  automations/climate/thermostat.yaml
  automations/lights/bedroom.yaml
  automations/voice/security.yaml
Due: yamllint

Tweak the "Welcome Home!"-announcement
  automations/voice/welcome.yaml
Due: yamllint

Update phone tracking/notifications
  automations/voice/welcome.yaml
  configuration.yaml
  scripts/notifications.yaml
Due: yamllint

Minor tweaks
  automations/climate/thermostat.yaml
  configuration.yaml
  device_tracker.yaml
  scripts/announce.yaml
  templates/window_orientations.yaml
Due: yamllint
