Repository thijsputman/home-assistant-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint, yamllint-other, notebook-cells

markdownlint:
  name: markdownlint
  entry: npx --yes markdownlint-cli@0.35.0
  language: system

yamllint:
  name: yamllint (Home Assistant)
  entry: yamllint
  language: system

yamllint-other:
  name: yamllint (other)
  entry: 'yamllint -d "{extends: default, rules: {document-start: disable,quoted-strings: {required: only-when-needed}}}"'
  language: system

notebook-cells:
  name: check notebooks for cell-data
  entry: .github/scripts/check-notebook-cells.sh
  language: script

Split up Hue-scene template-entities
  templates/hue_scenes.yaml
  templates/hue_scenes/attic.yaml
  templates/hue_scenes/bedroom.yaml
  templates/hue_scenes/ensuite.yaml
  templates/hue_scenes/garden.yaml
  templates/hue_scenes/hallway.yaml
  templates/hue_scenes/kitchen.yaml
  templates/hue_scenes/living_room.yaml
  templates/hue_scenes/wardrobe.yaml
Due: yamllint

Further lighting automation tweaks
  automations/lights/daytime.yaml
  automations/lights/dusk.yaml
  automations/lights/kitchen.yaml
  automations/lights/living_room.yaml
  templates/hue_scenes/kitchen.yaml
  templates/time_of_day.yaml
Due: yamllint

Mute instead of stop the wakeup alarm sound
  automations/sleep/wakeup_alarm.yaml
Due: yamllint

Slight tweaks to Kitchen lighting automations
  automations/lights/kitchen.yaml
Due: yamllint

Daytime-aware Attic and Bathroom lights
  automations/lights/attic.yaml
  automations/lights/bathroom.yaml
Due: yamllint

Swap out the (broken) Teclast tablet for a Redmi
  automations/tablet.yaml
  automations/voice/attention.yaml
Due: yamllint

Bump `paper-buttons-row`
  lovelace/README.md
Due: markdownlint

Added additional lux-sensors to the Living Room
  automations/lights/daytime.yaml
  automations/lights/kitchen.yaml
  automations/lights/living_room.yaml
Due: yamllint

Minor fixes
  automations/climate/bedroom.yaml
  templates/hue_scenes/ensuite.yaml
  templates/hue_scenes/living_room.yaml
Due: yamllint

Update sleep-automations to modern YAML
  automations/sleep/albert_heijn.yaml
  automations/sleep/asleep.yaml
Due: yamllint

Ongoing lighting automation tweaks
  automations/lights/daytime.yaml
  automations/lights/hallway.yaml
  automations/lights/hue.yaml
  automations/lights/kitchen.yaml
  automations/lights/living_room.yaml
  scripts/hue.yaml
  templates/time_of_day.yaml
Due: yamllint

Move from good ol' Pi4 to a HA Yellow powered CM5
  .gitignore
  .pre-commit-config.yaml
  aarlo.yaml
  automations/alarm/aarlo.yaml
  configuration.yaml
  extras/piper/docker-compose.yml
  scripts/announce.yaml
Due: yamllint, yamllint-other

Upgrade to Home Assistant 2025.9
  .HA_VERSION
  custom_components/README.md
  lovelace/README.md
Due: markdownlint

Various small Bedroom & Attic airco tweaks
  automations/climate/attic.yaml
  automations/climate/bedroom.yaml
Due: yamllint

Small fixes
  automations/doorbell.yaml
  templates/time_of_day.yaml
Due: yamllint

Lighting related tweaks
  automations/lights/attic.yaml
  automations/lights/daytime.yaml
Due: yamllint

Replace ADB with Plex and Android TV Remote
  automations/android_tv.yaml
  automations/lights/android_tv.yaml
  automations/lights/daytime.yaml
  automations/voice/attention.yaml
  automations/voice/dong.yaml
  lovelace/home.yaml
Due: yamllint

Don't duplicate the locality when...
  automations/voice/welcome.yaml
Due: yamllint

Upgrade to Home Assistant 2025.10
  .HA_VERSION
  .gitignore
  custom_components/README.md
  lovelace/README.md
  lovelace/home/weather/wind_direction.yaml
Due: markdownlint, yamllint

Replace `timer.wakeup_grace_time` with...
  automations/climate/bedroom.yaml
  automations/lights/daytime.yaml
  automations/sleep/occupancy_bed.yaml
  automations/sleep/wakeup_alarm.yaml
  automations/sleep/wakeup_light.yaml
  automations/sleep/wakeup_time.yaml
  input/datetime/sleep.yaml
  timer/sleep.yaml
Due: yamllint

Android TV enhancements
  automations/lights/android_tv.yaml
Due: yamllint

Ensure that today's wakeup time has *passed*
  automations/lights/daytime.yaml
Due: yamllint

Dusk lighting enhancements
  automations/lights/dusk.yaml
Due: yamllint

Minor InfluxDB logging tweak
  influx_db.yaml
Due: yamllint

Create `today_wakeup_occurred()` Jinja-macro
  automations/climate/bedroom.yaml
  automations/climate/close_in_boiler.yaml
  automations/curtains.yaml
  automations/lights/daytime.yaml
  automations/sleep/occupancy_bed.yaml
  automations/sleep/wakeup_alarm.yaml
  automations/sleep/wakeup_light.yaml
  automations/sleep/wakeup_time.yaml
  custom_templates/functions.jinja
Due: yamllint

Fix oversights in `today_wakeup_occurred()` logic
  automations/sleep/occupancy_bed.yaml
  automations/sleep/wakeup_alarm.yaml
  automations/sleep/wakeup_light.yaml
  automations/sleep/wakeup_time.yaml
  custom_templates/functions.jinja
Due: yamllint

Massive overhaul of the lighting automations
  automations/lights/dawn.yaml
  automations/lights/daytime.yaml
  automations/lights/dusk.yaml
  automations/lights/hallway.yaml
  automations/lights/living_room.yaml
  automations/lights/occupancy_simulation.yaml
  automations/lights/rooms/attic.yaml
  automations/lights/rooms/bathroom.yaml
  automations/lights/rooms/bedroom.yaml
  automations/lights/rooms/doors.yaml
  automations/lights/rooms/ensuite.yaml
  automations/lights/rooms/garden.yaml
  automations/lights/rooms/guestroom.yaml
  automations/lights/rooms/hallway.yaml
  automations/lights/rooms/kitchen.yaml
  automations/lights/rooms/living_room.yaml
  automations/lights/rooms/wardrobe.yaml
  templates/hue_scenes/kitchen.yaml
Due: yamllint

Remove "UPS battery runtime (minutes)"
  automations/system/system.yaml
  recorder_exclude.yaml
  templates/ups.yaml
Due: yamllint

Android TV is impossible to work with...
  recorder_exclude.yaml
Due: yamllint

Upgrade to Home Assistant 2025.10.4
  .HA_VERSION
Due: none

Minor lighting-related tweaks
  automations/lights/rooms/kitchen.yaml
  automations/lights/rooms/living_room.yaml
  templates/hue_scenes/hallway.yaml
Due: yamllint

Upgrade to Home Assistant 2025.11
  .HA_VERSION
  configuration.yaml
  lovelace/README.md
Due: markdownlint, yamllint

Better locality/sub_locality handling
  automations/voice/welcome.yaml
  scripts/announce.yaml
Due: yamllint

Done with this Android TV mess...
  automations/lights/plex.yaml
  automations/lights/rooms/living_room.yaml
  automations/plex.yaml
  automations/voice/attention.yaml
  automations/voice/dong.yaml
  docs/ANDROIDTV.md
  docs/README.md
  extras/androidtv/README.md
  influx_db.yaml
  logger_filters.yaml
  lovelace/home.yaml
  recorder_exclude.yaml
  secrets_empty.yaml
  templates/plex.yaml
Due: markdownlint, yamllint

👋 Neato, hello Roborock!
  automations/chores/neato.yaml
  logger_filters.yaml
  lovelace/README.md
  lovelace/home.yaml
  lovelace/home/chores/neato_downstairs.yaml
  lovelace/home/chores/neato_upstairs.yaml
  lovelace/home/chores/roborock.yaml
  lovelace/home/security/housekeeper.yaml
Due: markdownlint, yamllint

Small tweaks
  automations/lights/rooms/attic.yaml
  configuration.yaml
Due: yamllint

Prevent tado° from getting stuck in auto-mode
  automations/climate/thermostat.yaml
Due: yamllint

Minor tweaks
  automations/lights/rooms/hallway.yaml
  automations/voice/welcome.yaml
Due: yamllint

Upgrade to Home Assistant 2025.11.3
  .HA_VERSION
Due: none

Upgrade to Home Assistant 2025.12
  .HA_VERSION
  automations.yaml
  logger_filters.yaml
Due: yamllint

Path conditions:
  markdownlint: any of: (?i)(\.md|(^|/)(TODO|NOTES))$
  yamllint: any of: \.(yaml|yml)$
  yamllint-other: any of: (?i)^\..*ya?ml$ and \.(yaml|yml)$
  notebook-cells: any of: (?i)\.(ipynb|nnb)$
