Repository thijsputman/home-assistant-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint, yamllint-other, notebook-cells

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        # s6-overlay's scripts shouldn't be executable
        exclude: |
          (?x)(
            rootfs/etc/(
              cont-init\.d|
              services\.d|
              s6-overlay/s6-rc\.d
            )
          )
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (\.nnb|^\.HA_VERSION)$
      - id: forbid-submodules
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx --yes prettier@3.0.2 --check --ignore-unknown
        language: system
        types: [text]
      - id: markdownlint
        name: markdownlint
        entry: npx --yes markdownlint-cli@0.35.0
        language: system
        types: [file]
        files: (?i)(\.md|(^|/)(TODO|NOTES))$
      # Home Assistant YAML-files (using ".yamllint.yaml")
      - id: yamllint
        name: yamllint (Home Assistant)
        entry: yamllint
        language: system
        types: [yaml]
      # Other YAML-files (hardcoded "default"-configuration)
      - id: yamllint-other
        name: yamllint (other)
        # prettier-ignore
        entry:
          "yamllint -d \"{extends: default, \
            rules: {\
              document-start: disable,\
              quoted-strings: {\
                required: only-when-needed\
              }\
            }\
          }\""
        language: system
        types: [yaml]
        # Matches "dotfiles" and "dotfolders" (ie, generic configuration files)
        files: (?i)^\..*ya?ml$
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck --wiki-link-count=0
        language: system
        types: [shell]
      - id: shfmt
        name: shfmt
        entry: shfmt -l -d
        language: system
        types: [shell]
      - id: hadolint
        name: hadolint
        entry: hadolint
        language: system
        types: [dockerfile]
      - id: notebook-cells
        name: check notebooks for cell-data
        entry: .github/scripts/check-notebook-cells.sh
        language: script
        types: [file]
        files: (?i)\.(ipynb|nnb)$

Add second Attic water sensor
  sensors_binary/water.yaml
Due: yamllint

Replace SHIELD TV with Epson EH-LS800B...
  automations/android_tv.yaml
  automations/lights/android_tv.yaml
  automations/lights/daytime.yaml
  automations/shield_tv.yaml
  automations/voice/attention.yaml
  automations/voice/dong.yaml
  lovelace/home.yaml
  lovelace/home/media/shield_tv.yaml
  sensors/history.yaml
Due: yamllint

Humble start of the "great clean-up"
  custom_components/README.md
  influx_db.yaml
  logger_filters.yaml
Due: markdownlint, yamllint

Upgrade to Home Assistant 2024.3.3
  .HA_VERSION
Due: none

Remove some additional SHIELD TV references
  TODO
  automations/lights/android_tv.yaml
  automations/voice/security.yaml
  docs/ANDROIDTV.md
  extras/androidtv/README.md
Due: markdownlint, yamllint

Further Android TV / Epson EH-LS800B tweaks
  automations/lights/android_tv.yaml
  automations/lights/daytime.yaml
  automations/voice/dong.yaml
  docs/ANDROIDTV.md
  extras/androidtv/README.md
  logger_filters.yaml
Due: markdownlint, yamllint

Remove Prusa-printer related stuff
  automations/chores/prusa.yaml
  lovelace/home.yaml
  lovelace/home/hobby/prusa.yaml
  templates/prusa.yaml
Due: yamllint

Minor tweaks
  automations/christmas.yaml
  automations/lights/fireplace.yaml
  automations/sleep/occupancy_bed.yaml
  recorder_exclude.yaml
  templates/mobile_notification.yaml
Due: yamllint

Remove custom Lovelace "Consumption"-view
  lovelace/home.yaml
  lovelace/home/consumption/appliances/airco_attic.yaml
  lovelace/home/consumption/appliances/airco_bedroom.yaml
  lovelace/home/consumption/appliances/boiler_kitchen.yaml
  lovelace/home/consumption/appliances/dishwasher.yaml
  lovelace/home/consumption/appliances/dryer.yaml
  lovelace/home/consumption/appliances/heater_shed.yaml
  lovelace/home/consumption/appliances/lights.yaml
  lovelace/home/consumption/appliances/sonair.yaml
  lovelace/home/consumption/appliances/television.yaml
  lovelace/home/consumption/appliances/ups.yaml
  lovelace/home/consumption/appliances/washing_machine.yaml
  lovelace/home/consumption/energy.yaml
  lovelace/home/consumption/gas.yaml
  lovelace/home/consumption/water.yaml
  recorder_exclude.yaml
  templates/appliances.yaml
  templates/utility_meter.yaml
  utility_meter.yaml
Due: yamllint

Long overdue update of the energy-rates
  input/number/rates.yaml
Due: yamllint

Clean-up the Lovelace "Network"-view
  groups/sbc.yaml
  lovelace/home.yaml
  lovelace/home/network/bandwidth_ping.yaml
  lovelace/home/network/pi4_sandcastle.yaml
  lovelace/home/network/pi5.yaml
  lovelace/home/network/pihole.yaml
  lovelace/home/network/routers_dns.yaml
  lovelace/home/network/sbc/ha_yellow.yaml
  lovelace/home/network/sbc/pi4_sandbox.yaml
  lovelace/home/network/status.yaml
  lovelace/home/network/wifi.yaml
  mqtt/dd-wrt.yaml
  mqtt/pi4_sandbox.yaml
Due: yamllint

Add Pi4 and Pi5 RTT to InfluxDB
  influx_db.yaml
Due: yamllint

Remove the "Sonair (combined)" binary sensor
  influx_db.yaml
  templates/appliances.yaml
Due: yamllint

Update TODO
  TODO
Due: markdownlint

Prepare switch from Xiaomi Miot to Qingping
  automations/calamities/pm.yaml
  automations/climate/co2.yaml
  influx_db.yaml
Due: yamllint

Remove VOCOlinc (humidifier)
  automations/climate/vocolinc.yaml
  automations/lights/vocolinc.yaml
  lovelace/home.yaml
Due: yamllint

Push humidity measurements to Influx DB
  influx_db.yaml
Due: yamllint

Minor tweak
  automations/system/system.yaml
Due: yamllint

Eyes closed 🙈 upgrade to Home Assistant 2025.4
  .HA_VERSION
  configuration.yaml
Due: yamllint

Upgrade to hass-aarlo 0.8.1.18
  aarlo.yaml
  configuration.yaml
  custom_components/README.md
  sensors/aarlo.yaml
  sensors_binary/aarlo.yaml
  switches.yaml
Due: markdownlint, yamllint

Spring clean-up 🧹
  .gitignore
  TODO
  configuration.yaml
  custom_components/README.md
  custom_components/led_ble/__init__.py
  custom_components/led_ble/manifest.json
  custom_components/oralb/__init__.py
  custom_components/oralb/manifest.json
  extras/README.md
  extras/restart-container.sh
  influx_db.yaml
  logger_filters.yaml
  sensors/file.yaml
Due: markdownlint, yamllint

Upgrade a handful of custom JavaScript modules
  configuration.yaml
  lovelace/README.md
Due: markdownlint, yamllint

Further spring cleaning...
  automations/system/recorder.yaml
  secrets_empty.yaml
  sensors/afvalwijzer.yaml
Due: yamllint

Workaround Ogg-playback in aioslimproto
  automations/doorbell.yaml
  automations/voice/birthday.yaml
  automations/voice/dong.yaml
  automations/waterrower.yaml
  scripts/announce.yaml
Due: yamllint

Several Home Assistant 2025.4 fixes
  configuration.yaml
  scripts/announce.yaml
  scripts/notifications.yaml
Due: yamllint

Some further clean-up...
  automations/system/recorder.yaml
  logger_filters.yaml
  lovelace/home/network/pi4.yaml
  mqtt/pi4.yaml
Due: yamllint

Disable "Dryer reservoir full"-warning by default
  automations/chores/laundry.yaml
Due: yamllint

Additional minor (layout) fixes
  automations/lights/motion.yaml
  lovelace/home/lights/wakeup.yaml
  lovelace/home/security/aarlo_back.yaml
Due: yamllint

Squash a long-standing bug...
  automations/voice/welcome.yaml
Due: yamllint

Less is more...
  lovelace/home/security/aarlo_back.yaml
Due: yamllint

Continuing with the minor corrections...
  automations/voice/security.yaml
  influx_db.yaml
  lovelace/home/chores/neato_downstairs.yaml
  lovelace/home/chores/neato_upstairs.yaml
Due: yamllint

Various (Hue) lighting tweaks
  automations/alarm/notify_lights.yaml
  automations/lights/bedroom.yaml
  automations/lights/dawn.yaml
  automations/lights/daytime.yaml
  automations/lights/dusk.yaml
  automations/lights/hallway.yaml
  automations/lights/motion.yaml
  automations/sleep/wakeup_light.yaml
Due: yamllint

Notify when pre-heating gets cancelled
  automations/climate/thermostat.yaml
Due: yamllint

Missed some instances of the old Hallway lights
  automations/alarm/notify_lights.yaml
  automations/lights/dawn.yaml
  automations/lights/motion.yaml
Due: yamllint

Minor tweaks
  logger_filters.yaml
  lovelace/home/security/aarlo_back.yaml
Due: yamllint

Remove unused Aarlo configuration
  aarlo.yaml
  configuration.yaml
Due: yamllint

From custom speakers to HA Voice Preview
  automations/doorbell.yaml
  automations/sleep/wakeup_alarm.yaml
  automations/system/system.yaml
  automations/voice/birthday.yaml
  automations/voice/dong.yaml
  automations/voice/security.yaml
  automations/waterrower.yaml
  groups/speakers.yaml
  lovelace/home.yaml
  scripts/announce.yaml
Due: yamllint

Clear out removed devices from Network-dashboard
  lovelace/home.yaml
  lovelace/home/network/ha_yellow.yaml
  lovelace/home/network/pi4.yaml
  lovelace/home/network/pi4_sandbox.yaml
  lovelace/home/network/pi4_sandcastle.yaml
  lovelace/home/network/sbc/bpi_m2_zero.yaml
  lovelace/home/network/sbc/mpi_mq1.yaml
  lovelace/home/network/sbc/pi0_w2.yaml
  lovelace/home/network/sbc/pi4_sandbox.yaml
  lovelace/home/network/status.yaml
  lovelace/home/network/wifi.yaml
Due: yamllint

Upgrade to Home Assistant 2025.5.2
  .HA_VERSION
  custom_components/README.md
  lovelace/README.md
Due: markdownlint
